version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: kodla_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: kodla_user
      POSTGRES_PASSWORD: kodla_secure_password
      POSTGRES_DB: kodla_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
